
body{
  color:#483838;
  font-family: 'Roboto', sans-serif;
}
.project-title{
  padding-left: 50px;
  font-weight: bolder;
  margin-bottom: 50px;

}
.in-progress{
  filter: grayscale(100%);
}
.warning-progress{
  color: #cf0404;
}
.project-name{
  color: #483838;
  /* width:50%;
  margin:0 auto; */
}
.fa-circle{
  font-size: 10px;
}
.fa-chevron-down{
  display: block;
  text-align: center;
  font-size: 40px;
}
.logo-name{
  margin:0;
  text-align: center;
  color:lightgrey;
}
.mint-black{
  background-color:#483838 ;
}

.col{
  background-color: pink;
  border: 1px black solid;
}

.project-info-container{
  padding:12px;
}

.statement{
  margin: 0 auto;
  line-height: 1.8;
}

.center-text{
  text-align: center;
}

.center{
  display:flex;
  justify-content:center;
  gap:20px;
}

.container{
  margin-bottom: 70px;
}

.built-logo{
  width:100px;
}

.built-with-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.project-image:hover{
  opacity:0.5;
}

.built-with-container img{
  padding:5px;
}

a .project-image{
  border:0.5px lightgrey solid;
  border-radius: 5px;
  aspect-ratio:4/3;
}

/* h3.center-text{
  padding-bottom:20px;
} */

.row{
  padding:28px 0;
}

.extra-padding{
  padding:20px;
}
.project-description{
  text-indent: 15px;
}

 /* Spider Animation */
 .left-leg-animate {
  animation-duration: 0.5s;
  animation-name: move-left-legs;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move-left-legs {
  from {
    transform: rotate(20deg);
  }

  to {
    transform: rotate(-5deg);
  }
}
.right-leg-animate {
  animation-duration: 0.5s;
  animation-name: move-right-legs;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move-right-legs {
  from {
    transform: rotate(-20deg);
  }

  to {
    transform: rotate(5deg);
  }
}

.spider-container {
  margin:0 auto;
  height: 250px;
  width:250px;
  position: relative;
}

.spider-body {
  z-index: 1;
  width: 25%;
  height: 25%;
  background-color: #483838;
  border-radius: 50%;
  border: 2px dotted white;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left-legs {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 80%;
  transform: rotate(40deg);
  background-color: rgba(0, 0, 0, 0);
  border-top: 10px #483838 solid;
  border-left: 5px #483838 solid;
  border-radius: 7px;
}

.top-left {
  top: -30%;
}

.middle-left {
  top: 0;
}

.bottom-left {
  top: 30%;
}

.small-legs {
  width: 65%;
  height: 65%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 7px;
}

.left-small {
  right: 60%;
  top: 70%;
  transform: rotate(20deg);
  border-top: 10px #483838 solid;
  border-left: 5px #483838 solid;
}

.right-legs {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 80%;
  transform: rotate(-40deg);
  background-color: rgba(0, 0, 0, 0);
  border-top: 10px #483838 solid;
  border-right: 5px #483838 solid;
  border-radius: 7px;
}
.top-right {
  top: -30%;
}

.middle-right {
  top: 0;
}

.bottom-right {
  top: 30%;
}

.right-small {
  left: 60%;
  top: 70%;
  position: absolute;
  transform: rotate(-20deg);
  border-top: 10px #483838 solid;
  border-right: 5px #483838 solid;
}

.eye {
  width: 10%;
  height: 10%;
  background-color:mintcream;
  border-radius: 50%;
  margin: 0 20px;
  position: absolute;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
  bottom: 5%;
  left: 20%;
}

.right-eye {
  width: 10%;
  height: 10%;
  background-color: mintcream;
  border-radius: 50%;
  margin: 0 20px;
  position: absolute;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.8);
  bottom: 5%;
  right: 20%;
}

.glare {
  width: 50%;
  height: 50%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: rotate(45deg);
}
.four-webs {
  background-color: grey;
  opacity:0;
  position: absolute;
  height: 3px;
  border-radius: 40px;
}

.left-web {
  width: 50%;
  bottom: 60%;
  left: 50%;
  transform: rotate(145deg);
  animation-name: left-web-ani;
  animation-duration: 5s;
  animation-direction: forward;
  animation-iteration-count: infinite;
  animation-delya: 1s;
  transform-origin: left;
}

@keyframes left-web-ani {
  from {
    opacity: 0;
    transform: rotate(165deg) scaleX(0);
  }
  to {
    opacity: 1;
    transform: rotate(145deg) scaleX(1.2);
  }
}

.middle-left-web {
  width: 25%;
  bottom: 40%;
  left: 50%;
  transform: rotate(145deg);
  animation-name: middle-left-web-ani;
  animation-duration: 5s;
  animation-direction: forward;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  transform-origin: left;
}
@keyframes middle-left-web-ani {
  from {
    opacity: 0;
    transform: rotate(165deg) scaleX(0);
  }
  to {
    opacity: 1;
    transform: rotate(145deg) scaleX(1.8);
  }
}

.middle-right-web {
  width: 25%;
  bottom: 40%;
  left: 50%;

  transform: rotate(35deg);
  animation-name: middle-right-web-ani;
  animation-duration: 5s;
  animation-direction: forward;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  transform-origin: left;
}
@keyframes middle-right-web-ani {
  from {
    opacity: 0;
    transform: rotate(55deg) scaleX(0);
  }
  to {
    opacity: 1;
    transform: rotate(35deg) scaleX(1.8);
  }
}

.right-web {
  width: 50%;
  bottom: 60%;
  left: 50%;
  transform: rotate(15deg);
  animation-name: right-web-ani;
  animation-duration: 5s;
  animation-direction: forward;
  animation-iteration-count: infinite;
  animation-delay: 4s;
  transform-origin: left;
}
@keyframes right-web-ani {
  from {
    opacity: 0;
    transform: rotate(55deg) scaleX(0);
  }
  to {
    opacity: 1;
    transform: rotate(35deg) scaleX(1.2);
  }
}

 /* ******************** EndSpider Animation */


 .hero-shot{
  display:flex;
  justify-content: center;
  align-items: center;
/* background-image: linear-gradient( rgba(28.2%,22%,22%,0.9), rgba(28.2%,22%,22%,0.9)) ,url("../images/cobweb-portfolio.jpg"); */
 height:400px;
 /* background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative; */
}

.hero-text-container{
  color:#483838;
  /* height:400px; */
}

.git-link-container{
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.fa-chevron-down{
  font-size: 30px;
}
  .project-image{
    width:100%;
}

 .container{
   width:90%;
 }

.hero-text-container{
  padding:20px;
}

.email-message{
  padding:0 20px;
}

.all-logo{
  width:50px;
}

.built-logo{
  width:80px;
}

.git-link-container{
  display: flex;
  justify-content: space-around;
  padding-bottom: 70px;
}

.git-link-logo{
  width:150px;
}

}

footer{
  background-color: #483838;
  padding:20px;
}

.footer-link {
  color:mintcream;
  text-decoration: none;
}
.footer-link:visited{
  color:#42855B;
}
.footer-link:hover{
  color:white;
}

.git-link-container a{

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .project-image{
    width:100%;
  }
  .statement{
    width: 55%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .project-image{
    width:100%;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.center{
  justify-content: flex-start;
}

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
